<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('static/fontawesome/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('static/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('static/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block body %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('static/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('static/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
